@model IEnumerable<EcoTech_Renova.Models.Producto>

<link rel="stylesheet" href="~/css/productos.css" />

<div class="product-list">
    @foreach (var producto in Model)
    {
        <div class="product-item">
            <img src="@Url.Content(producto.RutaImagen)" alt="Imagen del producto" class="product-image" />
            <h3>ID: @Html.DisplayFor(modelItem => producto.IDProducto)</h3>
            <h4>@Html.DisplayFor(modelItem => producto.Nombre)</h4>
            <p>Precio: S/.@producto.Precio.ToString("N2")</p>
            <p>Stock: @Html.DisplayFor(modelItem => producto.Stock)</p>
            @if (producto.YaRegistrado)
            {
                <p class="text-success">YA ESTÁ REGISTRADO</p>
            }
            else
            {
                <a asp-action="Detalle" asp-route-id="@producto.IDProducto" class="btn btn-primary">Agregar al carrito</a>
            }
        </div>
    }
</div>
